@function Rem($value, $type:'rem'){
        $calculated: calc($value/16);
        // return value
        @return #{$calculated}#{$type};
}

@mixin flow($value: 1rem, $class:'.flow') {
        #{$class} > * + * {
                margin-top: #{$value} ;
        }
} 

$font-family-1 :graphix;