$color-h:#514949;
$red-color:  hsla(3, 80%, 54%, 1);
$white: hsla(0, 0%, 100%, 1);
$section-bg:#F8E0DF;



$max-content-width: 700;


@function Rem($value, $type:'rem'){
        $calculated: calc($value/16);
        // return value
        @return #{$calculated}#{$type};
}

@mixin flow($value: 1rem, $class:'.flow') {
        #{$class} > * + * {
                margin-top: #{$value} ;
        }
} 

$font-family-1 :graphix;
$font-family-2 :avert;
$font-size: (
        "header": 32,
        "p": 16
);



@mixin font1{
        font-size: (0.438rem, 3.01vw, 21rem);
}