@use  './abstract' as *;

.container{
        width: clamp(Rem(200), 100%, Rem(1440));
        background-color: aquamarine;
        font-size: Rem(18);
        padding-block: Rem(22,em);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: Rem(8,em);
        text-align: center;
        margin: auto;
        font-family: graphix;
        &>*{
                background-color: aqua;
                padding-block: Rem(40);
                background-image: url('.././img/curve1.png');
                background-repeat: no-repeat;
                background-size: Rem(56);
                background-position: 100% 0%;
        }
}