@use './abstract' as *;


body{
        font-family: $font-family-2;
        font-weight: 400;
        .red{
                color: $red-color;
        }
}
.hero{
       padding-inline: Rem(10,em);
       padding-top: Rem(69,em);
       background-image: url("https://zuri.team/img/hero-bg.svg");
       background-repeat: no-repeat;
       background-position: 0% 0%;
       background-size: cover;
        
        min-height: 100vh;
        text-align: center;
        .content-container{
                &>*+*{
                        margin-top: Rem(95);
                }

                // Img
        .zuri-logo{
                margin: auto;
        }
        .content-wrapper{
                &> * + * {
                        margin-top: Rem(36,em);
                }

        h1{
                font-size: Rem(map-get($font-size, 'header'));
                font-weight: bold;
                color: $color-h;;
        }

        p{
                font-size: Rem(map-get($font-size, 'p'));
                color: $color-h;
                opacity: 0.9;

        }
        .cta-container{
                margin-top: Rem(92,em);
                display: flex;
                justify-content: center;
                gap: Rem(24,em);
                flex-wrap: wrap-reverse;
                align-content: center;
                
                
        }
        .cta{
                text-decoration: none;
                
                
        }
        .cta-page-1{
                
                padding-block: Rem(12,em);
                padding-inline:Rem(28,em) ;
                border: Rem(1.2,em) solid $red-color;
                color: $red-color;
             
                &:hover{
                        background-color: $red-color;
                        color: $white;
                        transition: background-color 300ms ease-in;
                                }
        }
        .cta-page-2{
               
                padding-block: Rem(12,em);
                padding-inline:Rem(28,em) ;
                background-color: $red-color;
                color: $white;
                &:hover{
                        border: Rem(1.2,em) solid $red-color;
                        color: $red-color;
                        background-color: rgba(0, 0, 0, 0);
                        transition: all 300ms ease-in;
                }
        }
        }
        }


}

.team{
        text-align: center;
        padding-top: Rem(141,em);
        padding-inline: Rem(10,em);
        margin-bottom: Rem(60,em);
        .wrapper{
                h6{
                        font-size: Rem(14);
                        font-weight: 400;
                }
                #wecater{
                        color: $color-h;
                        font-weight: 400;
                        font-size: Rem(24);
                        margin-top: Rem(16,em);
                }
                padding-bottom: Rem(76,em);
        }

        .flex-container{
                display: flex;
                gap: Rem(30,em);
                
                justify-content: center;
                
                .card{
                        background-color: $flex-card;
                        padding: Rem(61,em) Rem(47,em) Rem(82,em) Rem(36,em);
                        flex-basis: 33%;

                        img{
                                width: clamp(Rem(20), 100%, Rem(120));
                        }
                        .content{
                                text-align: left;

                                p{
                                        font-size: Rem(16);
                                        color: $color-h;
                                        opacity: .9;
                                        
                                }

                                a{
                                        display: inline-block;
                                        margin-top: Rem(16,em);
                                        text-decoration: none;
                                        color: $red-color;
                                }
                        
                        }
                        
                        &>*+*{
                                margin-top: Rem(48,em);
                        }
                }
        }
}


footer{
        
        ul{
                padding: 0;
                li{
                        list-style: none;
                        padding: 0;}
                a{
                        text-decoration: none;
                }
        }
        h6{
                color: $color-h;
                font-size: Rem(16);
        }
        .foo{
                margin-bottom: Rem(40,em);
                display: flex;
                justify-content:  space-between;
       
         
               
        }
        hr{
                border: Rem(0.7) solid $color-h;
                opacity: 0.2;
        }
        padding-inline: Rem(10);
        padding-top: Rem(214,em);
        .me{
                margin-top: Rem(32,em);
                text-align: center;
                padding-bottom: Rem(92, em);
        }
        .colum:nth-child(2){
                gap: Rem(30,em);
        }
        .address:last-child{
               
                margin-top: Rem(24,em);
                a{
                        color: $red-color;
                        font-size: Rem(14);
                }
        }
        .AA>*+*:not(a){
                color: $color-h;
                opacity: 0.9;
                font-size: Rem(14);
        }
        .links a {
                color: $red-color;
                font-size: Rem(14);
        }
        .inner:last-child > ul{
                display: flex;
                gap: Rem(12,em);
        }
        address{
                font-style: normal;
        }
}



