@font-face {
        font-family: graphix;
        src: url('./fonts/GraphikRegular.otf');
        font-weight: 400;
}
@font-face {
        font-family: graphix;
        src: url('./fonts/GraphikMedium.otf');
        font-weight: 500;
}
@font-face {
        font-family: graphix;
        src: url('./fonts/GraphikBold.otf');
        font-weight: 700;
}

@font-face {
        font-family: avert;
        src: url('./fonts/AvertaDemo-Regular.otf');
        font-weight: normal;

}
@font-face {
        font-family: avert;
        src: url('./fonts/averta-bold.otf');
        font-weight: bold;
}




